[Unit]
Description=KissMe daemon

[Service]
ExecStart=/usr/bin/python3 -u -W all /usr/local/bin/kissmed
Type=idle
User=pi

[Install]
WantedBy=multi-user.target
